* {
   box-sizing: border-box;
}

.top-line {
    border-bottom: solid #F3EFEE;
}

.title-text {
    text-align: right;
}

.center-image {
    margin: auto;
    text-align: center;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.profile-picture {
    text-align: left;
    border-radius: 50%;
}

/* Making 12 grids each 8.33% wide */
.col-1 {
    width: 8.333%;
}

.col-2 {
    width: 16.666%;
}

.col-3 {
    width: 24.999%;
}

.col-4 {
    width: 33.332%;
}

.col-5 {
    width: 41.665%;
}

.col-6 {
    width: 49.998%;
}

.col-7 {
    width: 58.331%;
}

.col-8 {
    width: 66.664%;
}

.col-9 {
    width: 74.997%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.663%;
}

.col-12 {
    width: 99.996%;
}
