/* ==========================================================================
   1. GLOBAL PROPERTIES
   ========================================================================== */

body {
    font: 300 14px "Lato", sans-serif;
    font-weight: 300;
    padding: 5vh;
    padding-left: 1vh;
    padding-right: 1vh;    
    color: #666756;
    background: #fff;    
}

img {
    max-width: 100%;
}

hr {
    border-top: 4px solid #bbb;
}

/* ==========================================================================
   2. PAGE STYLERS
   ========================================================================== */

.border {
    border: 1px solid #BCBBBB;
}

.text-muted {
    /* Overriding text-muted property of Bootstrap */
    color: #BBB;
}

.text-thin {
    font-weight: 100;
}

/* ==========================================================================
   3. PROFILE PROPERTIES
   ========================================================================== */

.profile-text {
    text-transform: uppercase;
    margin-top: 10px;
    text-align: right;
}

.profile-name {
    font-size: 4.285em;
    margin: 0;
}

.profile-caption {
    font-size: 1.428em;
    margin: 5px;
}

.profile-picture {
    width: 25%;
    border-radius: 50%;
    margin-top: 5px;
}

/* ==========================================================================
    4. SOCIAL ICONS
   ========================================================================== */

.social-icons {
    display: inline-flex;
    margin-top: 1.75vh;
    margin-bottom: 0;
    list-style: none;
}

/* ==========================================================================
   5. HERO IMAGE
   ========================================================================== */

.hero-image {
    display: block;
    width: 100%;
}

/* ==========================================================================
   6. PROJECT PROPERTIES
   ========================================================================== */

.header-featured-work {
    margin-top: 5.5vh;
    padding-bottom: 3vh;
    padding-left: 3vh;
    color: #bbb;
}

.project {
    text-align: center;
}

.project-title {
    color: #666756;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

.project-subtitle {
    color: #666756;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 0px;
}

.project-url {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #666756;    
}

.project-picture {
    object-fit: contain;
}

/* Add a shadow effect when the mouse is hovered on a project. */
.add-shadow:hover {
    background-color: #FFF;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.200);
    transition: box-shadow 0.3s ease-in-out;
}

/* ==========================================================================
   7. FOOTER
   ========================================================================== */

.footer {
    text-align: center;
    font-size: 1.143em;
    margin-top: 50px;
    font-weight: 400;    
}


/*  ==========================================================================
    8. RESPONSIVE LAYOUT
    ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 .profile-picture {
     display: inline-block;
     margin-left: 3em;
     width: 30%;
 }

 .profile-name  {
     font-size: 3em;
     text-align: right;
     padding-right: 2vh;
 }

 .profile-caption  {
     text-align: right;
     padding-right: 1.5vh;
 }   
}